<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <div>
          <div class="jumbotron-heading">
            <h1 class="display-4">User profile</h1>
            <a routerLink="/users">Back to Home Page</a>
          </div>
          <img src="{{ userInfo.imageUrl }}" alt="..." class="img-thumbnail" />
          <h5>Full Name: {{ userInfo.firstName }} {{ userInfo.lastName }}</h5>
          <p>Unique Identifier: {{ userInfo.uuid.substring(0,5) }}</p>
        </div>

        <hr class="my-4" />

        <div class="user-info">
          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">First Name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                class="form-control"
                [value]="userInfo.firstName"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Last Name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                class="form-control"
                [value]="userInfo.lastName"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Date of Birth</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input type="text" class="form-control" [value]="userInfo.dob" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                class="form-control"
                [value]="userInfo.email"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Phone</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                class="form-control"
                [value]="userInfo.phone"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Gender</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                class="form-control"
                [value]="userInfo.gender"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Phone</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                class="form-control"
                [value]="userInfo.phone"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Gender</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                class="form-control"
                [value]="userInfo.gender"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-3">
              <h6 class="mb-0">Address</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input
                type="text"
                class="form-control"
                [value]="userInfo.address"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4" />
  <div class="col-md-12">
    <div>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Location</h1>
          <p class="lead">
            This is a modified jumbotron that occupies the entire horizontal
            space of its parent.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
